.photo {
    background-image: url('../../assets/PlayingDog.jpg'); 
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    position: relative; 
}
.banner-text{
    color: white;
}
